/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/*body {
    background: url("../images/background.png")
}
*/


nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}



#screen-unit-1 {
	background: url("../images/bgnag.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
#screen-unit-2 {
	background: #f9d21d;
}

/*#screen-unit-3 {
	background: url("../images/bg3.png");
}*/

#screen-unit-4 {
	background: url("../images/bg4.png") ;
}

#screen-unit-5 {
  background: url("../images/bg5.png") ;
}


#dark-bg-layer {
  background: rgba(0,0,0,0.55);
  height: 100%;
  width: 100%;

}

#intro-head-box {
  border: white solid 5px;
}
#head-box {
  border: white solid 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}
#white-box {
  /*border: white solid 3px;*/
  margin: 1px;
  
}
#black-box {
  border: black solid 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}




body {
  background: black;
}

#image-text {
  z-index: 2;
  margin-top: -300px;
}